.app {
  position: relative;
  margin: 0;
  padding: 0;
}

.app .mt-cards {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.app .app-sidebar .app-header {
  margin: 0;
  padding: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.app .app-sidebar .app-header .logo {
  display: block;
  margin: 0 auto;
}

.app h1 {
  color: #727272;
}

.app strong {
  color: #1d1d1d;
}

.app p {
  color: #545454;
  font-weight: 300;
}

.app .mt-container {
  width: 90%;
  margin: 20px auto;
}

@media only screen and (min-width: 992px) {
  .app .app-sidebar {
    width: 375px;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
  }

  .app .app-main {
    margin-left: 375px;
    height: 200vh;
  }
}
