.app {
  position: relative;
}

@media only screen and (min-width: 992px) {
  .app .app-sidebar {
    width: 375px;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
  }

  .app .app-main {
    margin-left: 375px;
    height: 200vh;
  }
}
